#gridContainer {
    display: grid;
    /* grid-template-columns: repeat(16, 1fr); */
    /* grid-template-rows: repeat(16, 2em); */
    width: 960px;
}

.gridCellStyle {
    border: solid black 1px;
}